<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Deckster</title>
  <link rel="stylesheet" href="content/skeleton.css" />
  <link rel="stylesheet" href="content/deckster.css" />
</head>
<body>
@RenderBody()
</body>
</html>